<footer class="footer">
  <div class="footer-content">
    <h2>Developer</h2>
    <p>
      Footer. Because why not?
    </p>
    <div class="social-icons">
      <a href="../pages/chat.html"><i class="fas fa-comment-dots"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-google-plus-g"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Copyright &copy;2025 <a href="#">Developer</a></p>
    <div class="footer-menu">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>
  </div>
</footer>